.container {
    color: white;
    z-index: 100;
    border: 10px solid white;
    border-radius: 8px;
    flex: 0;
    font-size: 1.4rem;
    padding: 12px;
    background-color: rgb(35, 35, 39);

    position: absolute;
    width: 80vw;
}

.form {
    display: grid;
    place-items: center flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    padding: 12px;
    gap: 6px;

}

.title {
    font-size: 32px;
    color: white;
    font-family: "Pixels", system-ui;
    background-color: transparent;
    transform: translatey(-0%);
    padding-left: 10px;
    padding-right: 10px;

    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 24px

}
/*.container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 42px;*/
/*    flex: 1;*/
/*    padding-left: 42px;*/
/*    padding-right: 42px;*/
/*}*/
