.body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(0, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23d5ab, #23a6d5, #e73c7e, #ee7752);
    background-size: 400% 400%;
    animation: gradient 4s linear infinite;
    overflow-x: hidden;
    display: grid;
    place-items: center;
    --dark_background: rgb(20, 20, 20);
}



@font-face {
    font-family: "Pixels";
    src: url("./assets/thirteen-pixels-font.ttf");
}

@font-face {
    font-family: "ReadablePixels";
    src: url("./assets/rainyhearts.ttf");
}

.mainText {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 64px;
    color: white;
    font-family: "Pixels", system-ui;
    white-space: nowrap;
    z-index: 10;
    background: linear-gradient(to bottom, rgb(20, 20, 20, .8) 30%, transparent);
    padding-bottom: 50px;
    user-select: none;
    pointer-events: none;
}

.mainText span {
    display: inline-block;
    position: relative;
    animation-name: spawn-text, de-spawn-text, fade-in;
    animation-duration: 1s, 1s, 4s;
    animation-iteration-count: 1, 1, 1;
    animation-fill-mode: forwards, forwards, forwards;
    transform: translateX(100vw);

}

.mainText span:nth-child(1) {
    animation-delay: 0s, 2s, 5s;
}

.mainText span:nth-child(2) {
    animation-delay: 0.3s, 2.3s, 5s;
}

.mainText span:nth-child(3) {
    animation-delay: 0.6s, 2.6s, 5s;
}

.mainText span:nth-child(4) {
    animation-delay: 0.9s, 2.9s, 5s;
}

.mainText span:nth-child(5) {
    animation-delay: 1.1s, 3.1s, 5s;
}

.mainText span:nth-child(6) {
    animation-delay: 1.3s, 3.3s, 5s;
}

.mainText span:nth-child(7) {
    animation-delay: 1.4s, 3.4s, 5s;
}


@keyframes spawn-text {
    0% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(-2vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

@keyframes de-spawn-text {
    0% {
        transform: translateX(0vw);
    }
    50% {
        transform: translateX(2vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(0vw);
        font-size: 10px;
    }
    75% {
        font-size: 128px;
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
        font-size: 64px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 130% 130%;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 42px;
    flex: 1;
    padding-left: 42px;
    padding-right: 42px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.sub-container {
    z-index: 10;
    background-color: var(--dark_background);
    border: 10px solid white;
    border-radius: 8px;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.sub-container > a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.language-text {
    font-size: 32px;
    color: white;
    font-family: "Pixels", system-ui;
    background-color: transparent;
    transform: translatey(-0%);
    padding-left: 10px;
    padding-right: 10px;

    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 24px

}

.links {
    font-family: "ReadablePixels", system-ui;
    font-size: 1.6em;
    width: unset;
    text-decoration: none;
    position: relative;
    color: white;
}

.links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.backLinks {
    position: absolute;
    z-index: 20;
    background-color: var(--dark_background);
    padding: 12px;
    border-radius: 12px;
    top: 0;
    left: 0;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 24px
}
body {
    /*--grey-100: #f79533;*/
    /*--grey-200: #f37055;*/
    /*--grey-300: #ef4e7b;*/
    /*--grey-400: #a166ab;*/
    /*--grey-500: #5073b8;*/
    /*--grey-600: #1098ad;*/
    /*--grey-700: #07b39b;*/
    /*--grey-800: #6fba82;*/
    /*--grey-900: #e6e345;*/
}
#planity {
    z-index: 10;
    flex: 1;
    margin: 32px auto;
    padding: 16px;
    border-radius: 16px;
    animation: 2s fadein 2s backwards;
    background-color: white;
    max-width: 960px;
    /*overflow: scroll;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*background-color: rgba(67, 160, 191, 0.7);*/
    /*border: 10px solid black;*/
    /*min-height: 3em;*/
    /*resize: both;*/
    /*border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E")*/
    /*1;*/
}

.planity_appointment_service_cell {
    /*font-family: 'PT Sans';*/
    /*font-weight: bold;*/
}
.planity_appointment_service_small-cell {
    /*font-style: italic !important;*/
}
.planity_bookappointment-button-choose {
    /*background-color: #43a0bf !important;*/
}
.planity_ui_showMoreservices {
    /*color: #43a0bf !important;*/
}
.planity_appointment_days_slider_hour_availability {
    /*background-color: rgba(67, 160, 191, 0.3) !important;*/
}
input {
    /*background: linear-gradient(*/
    /*        60deg,*/
    /*        #f79533,*/
    /*        #f37055,*/
    /*        #ef4e7b,*/
    /*        #a166ab,*/
    /*        #5073b8,*/
    /*        #1098ad,*/
    /*        #07b39b,*/
    /*        #6fba82*/
    /*) !important;*/
    /*color: white !important;*/
}
input::placeholder {
    /*color: white !important;*/
}
.planity-inputs input {
    /*background: linear-gradient(*/
    /*        60deg,*/
    /*        #f79533,*/
    /*        #f37055,*/
    /*        #ef4e7b,*/
    /*        #a166ab,*/
    /*        #5073b8,*/
    /*        #1098ad,*/
    /*        #07b39b,*/
    /*        #6fba82*/
    /*) !important;*/
}

@keyframes fadein {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0vh);
        opacity: 1;
    }
}

.backgroundContainer {
    position: absolute;
}
.background {
    display: grid;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    /* var(--rows) and var(--columns) defined in index.html  */
    /*noinspection CssUnresolvedCustomProperty*/
    grid-template:  repeat(var(--rows), 1fr)/repeat(var(--columns), 1fr);
}

.tile {
    position: relative;
}

.tile:before {
    content: "";
    background-color: var(--dark_background);
    position: absolute;
    inset: 1px;
    opacity: 1;
    transition: opacity 1s;
    animation: opacity-animation 2s alternate;
    animation-iteration-count: 3;
    /* var(--delay) defined in index.html  */
    /*noinspection CssUnresolvedCustomProperty*/
    animation-delay: var(--delay);
}

.tile:hover:before {
    inset: 100%;
    opacity: 0;
    transition: opacity 0s;
}


@keyframes opacity-animation {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}
