:root {
    --dark_background: rgb(20, 20, 20);
    --perspective_size: 700px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark_background);
    font-size: 1rem;
    /*--white: rgba(255, 255, 255, .5) !important;*/
}

.body {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: "ReadablePixels", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;
    background: linear-gradient(0, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23d5ab, #23a6d5, #e73c7e, #ee7752);
    background-size: 400% 400%;
    animation: gradient 20s linear infinite;
}


@font-face {
    font-family: "Pixels";
    src: url("./assets/thirteen-pixels-font.ttf");
}

@font-face {
    font-family: "ReadablePixels";
    src: url("./assets/rainyhearts.ttf");
}


@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 130% 130%;
    }
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 42px;
    flex: 1;
    padding-left: 42px;
    padding-right: 42px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}


.links {
    font-family: "ReadablePixels", system-ui;
    font-size: 1.6em;
    width: unset;
    text-decoration: none;
    position: relative;
    color: white;
}

.links > span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 8px;
    rotate: 15deg;
}

.links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.backLinks {
    font-family: "ReadablePixels", system-ui;
    font-size: 1.6em;
    position: absolute;
    z-index: 20;
    background-color: var(--dark_background);
    border: 1px #7b7b7b solid;
    padding: 12px;
    border-radius: 12px;
    top: 0;
    left: 0;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 24px
}
