.navButtonContainer {
    background-color: rgb(35, 35, 39);
    display: grid;
    grid: 1fr/1fr repeat(4, auto);
    padding: 16px 32px;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 20px;
    border: 1px solid #eef0f2;
    border-radius: 8px 8px 0 0 ;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}


@media only screen and (max-width: 768px) {
    .navButtonContainer {
        grid:repeat(4, auto)/1fr;
        gap: 8px;
        padding: 8px 16px;
    }
}

.mainLink {
    font-family: var(--font2);
    font-size: 1em;
    width: max-content;
    text-decoration: none;
    position: relative;
    color:  white;
    border: 1px solid #eef0f2;
    /*background: linear-gradient(0, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23d5ab, #23a6d5, #e73c7e, #ee7752);*/
    /*background-color:#eef0f2;*/
    border-radius: 8px;
    padding: 12px;
}

.links {
    font-family: var(--font2);
    font-weight: 700;
    font-size: 1em;
    width: unset;
    text-decoration: none;
    position: relative;
    color: #eef0f2;
}

.links:last-child{
    color: black;
    background-color: #eef0f2;
    padding: 12px;
    border-radius: 8px;
}
.links:last-child:after{
    display: none;
}

.links > span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 8px;
    rotate: 15deg;
}

.links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color:#eef0f2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links:hover:after , .links:active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

