.landing {
    height: 50vh;
    background-color: #232327;
    border: 1px solid white;
    border-radius: 8px;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;

    cursor: default;
    user-select: none;
}

.stringContainer {
    color: white;
    font-family: var(--font2);
    font-size: 1em;
    text-align: justify;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.stringContainer:hover{
    opacity: 1;
}

.gradientContainer {
    aspect-ratio: 1/1;
    width: 100%;
    position: absolute;
    background: radial-gradient(
            /*rgba(35, 35, 39, 0.95) 0%,*/
            rgb(231, 60, 126),
            rgb(56 182 255),
            rgb(42 252 152),
            rgb(35, 213, 171)
    );
    mix-blend-mode: darken;
    pointer-events: none;
    z-index: 3;
}
