.container {
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

.wlContainer {
    position: relative;
    transition: all 1s ease;
}

.wlMainContainer {
    position: relative;
    flex: 1;
}

.content {
    position: relative;
    display: grid;
    background-color: #fffffffa;
    grid: 1fr/1fr;
    margin: 64px auto 0;
    width: 100%;
    max-width: 90vw;
    height: auto;
    border-radius: 8px;
}

.configuratorButton {
    width: 100%;
    margin: auto;
    max-width: min(200px, 90%);
    position: fixed;
    bottom: 8px;
    left: 0;
    right: 0;
}
