.container {
    width: 100%;
    margin: auto;
    max-width: min(1180px, 95%);

    color: white;
    z-index: 100;
    border: 1px solid white;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.4);
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 12px;
    background-color: rgb(35, 35, 39);

    position: fixed;
    bottom: 16px;
    left: 0;
    right: 0;
}

.form {
    display: grid;
    place-items: center flex-start;
    grid-template-columns: min-content min-content min-content auto;
    grid-auto-rows: 1fr;
    padding: 0 12px;
    gap: 22px;
}

.title {
    font-size: 22px;
    color: white;
    font-family: "Pixels", system-ui;
    transform: translatey(-0%);
    padding-left: 10px;
    padding-right: 10px;

    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 6px 24px;
    background-color: rgb(35, 35, 39);
    border-radius: 8px;
}
.label {
    min-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
}
.input {
    appearance: auto;
    color: black;
    padding: 4px;
    height: 22px;
    border-radius: 2px;
    width: 100%;
    font:inherit;
}

.input::placeholder{
    color: black;

}

.submitButton {
    place-self: self-end;
    color: white;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
